*{
	padding: 0;
	margin: 0;
	border: 0;
}
body{
	background: #000;
}
.f_l{float: left;}
.hd{display: none;}

.main{width: 1030px;height: 540px;margin:0 auto;position: relative;overflow: hidden;}

.main2{width: 890px;height: 540px;margin:0 auto;position: relative;overflow: hidden;}
.main-left{width: 640px;height: 540px;background: url(../img/main-left-bg.jpg) no-repeat;}
.site00{position: absolute;left: 0;top: 0;}

	.map{}
	.point{}
	.line{}
	.china{}
	.flag{}
	.description{}



.main-right{width: 390px;height: 540px;background: url(../img/main-right-bg_01.png) no-repeat;}
.main-right2{width: 890px;height: 540px;background: url(../img/main-right-bg_02.png) no-repeat;}
.main-right-top{width: 390px;height: 261px;margin-top: 54px;position: relative;}
.main-right-top_2{width: 890px;height: 261px;margin-top: 54px;position: relative;}
	.main-right-top1{position: relative;width: 390px;height: 261px;}


		.mrt1-title{position: absolute;left: 0;top: 0;}
		.mrt1-history{position: absolute;left: 0;top: 32px;}
		.mrt1-pointTop{position: absolute;left: 0;top: 32px;}
		.mrt1-pointBtm{position: absolute;left: 0;top: 32px;}
		.mrt1-words{position: absolute;left: 0;top: 178px;}


	.main-right-top2{position: relative;width: 255px;height: 261px;margin-left: 15px;}
		.main-right-top2 h1{color: #fff;font-size: 12px;margin-top: 11px;}


		.mrt2-product{background: url(../img/main-right-top2-product1.png) center no-repeat;width: 255px;height: 146px; animation:mrt2-product 3s linear 0s infinite alternate;-webkit-animation:mrt2-product 3s linear 0s infinite alternate; }
		.mrt2-words{margin-left: -19px;}


	.main-right-top3{position: relative;width: 372px;height: 261px;margin-left: -18px;}
		

		.mrt3-title{}
		.mrt3-cyclic{}
		.mrt3-column{}


	.main-right-top4{position: relative;width: 281px;height: 261px;margin-left: -15px;}
		

		.mrt4-title{}
		.mrt4-bg{background: url(../img/main-right-top4-bg-2.png) center no-repeat;width: 281px;height: 143px;animation:mrt4-bg 3s linear 0s ;-webkit-animation:mrt4-bg 3s linear 0s ;}


.main-right-btm{width: 390px;height: 225px;}
.main-right-btm_2{width: 890px;height: 225px;}
	.mrb-title{}
	.main-right-btm-container{width: 390px;height: 195px;position: relative;}
	.main-right-btm-container_2{width: 890px;height: 195px;position: relative;}
	.main-right-btm1{position: relative;width: 205px;height: 195px;margin-left: -30px;}
	.main-right-btm1-box{width: 265px;height: 195px;
		background: url(../img/main-right-btm1-bg6.png) center no-repeat;animation:main-right-btm1 3s linear 0s ;-webkit-animation:main-right-btm1 3s linear 0s ;
	}
	.main-right-btm2{position: relative;width: 213px;height: 195px;}
		

		.mrb2-grids{}
		.mrb2-lineBlue{}
		.mrb2-lineYellow{}


	.main-right-btm3{position: relative;width: 452px;height: 195px;}


		.mrb3-map{}
		.mrb3-point{}


	.main-right-btm4{position: relative;width: 350px;height: 195px;}

		.mrb4-coords{}




  @keyframes mrt2-product
  {
    0%   {background: url(../img/main-right-top2-product1.png) center no-repeat}
    100% {background: url(../img/main-right-top2-product2.png) center no-repeat}
  }

  @-webkit-keyframes mrt2-product 
  {
    0%   {background: url(../img/main-right-top2-product1.png) center no-repeat}
    100% {background: url(../img/main-right-top2-product2.png) center no-repeat}
  }


  @keyframes mrt4-bg
  {
    0%   {background: url(../img/main-right-top4-bg-1.png) center no-repeat}
    100% {background: url(../img/main-right-top4-bg-2.png) center no-repeat}
  }

  @-webkit-keyframes mrt4-bg 
  {
    0%   {background: url(../img/main-right-top4-bg-1.png) center no-repeat}
    100% {background: url(../img/main-right-top4-bg-2.png) center no-repeat}
  }


   

    @keyframes main-right-btm1
  {
    0%   {background: url(../img/main-right-btm1-bg1.png) center no-repeat}
    20% {background: url(../img/main-right-btm1-bg2.png) center no-repeat}
    40% {background: url(../img/main-right-btm1-bg3.png) center no-repeat}
    60% {background: url(../img/main-right-btm1-bg4.png) center no-repeat}
    80% {background: url(../img/main-right-btm1-bg5.png) center no-repeat}
    100% {background: url(../img/main-right-btm1-bg6.png) center no-repeat}
  }

  @-webkit-keyframes main-right-btm1 
  {
    0%   {background: url(../img/main-right-btm1-bg1.png) center no-repeat}
    20% {background: url(../img/main-right-btm1-bg2.png) center no-repeat}
    40% {background: url(../img/main-right-btm1-bg3.png) center no-repeat}
    60% {background: url(../img/main-right-btm1-bg4.png) center no-repeat}
    80% {background: url(../img/main-right-btm1-bg5.png) center no-repeat}
    100% {background: url(../img/main-right-btm1-bg6.png) center no-repeat}
  }

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}
  @-webkit-keyframes bounceIn {
	0%,100%,20%,40%,60%,80% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	20% {
		-webkit-transform: scale3d(1.1,1.1,1.1);
		transform: scale3d(1.1,1.1,1.1)
	}

	40% {
		-webkit-transform: scale3d(.9,.9,.9);
		transform: scale3d(.9,.9,.9)
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03,1.03,1.03);
		transform: scale3d(1.03,1.03,1.03)
	}

	80% {
		-webkit-transform: scale3d(.97,.97,.97);
		transform: scale3d(.97,.97,.97)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

@keyframes bounceIn {
	0%,100%,20%,40%,60%,80% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		-ms-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	20% {
		-webkit-transform: scale3d(1.1,1.1,1.1);
		-ms-transform: scale3d(1.1,1.1,1.1);
		transform: scale3d(1.1,1.1,1.1)
	}

	40% {
		-webkit-transform: scale3d(.9,.9,.9);
		-ms-transform: scale3d(.9,.9,.9);
		transform: scale3d(.9,.9,.9)
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03,1.03,1.03);
		-ms-transform: scale3d(1.03,1.03,1.03);
		transform: scale3d(1.03,1.03,1.03)
	}

	80% {
		-webkit-transform: scale3d(.97,.97,.97);
		-ms-transform: scale3d(.97,.97,.97);
		transform: scale3d(.97,.97,.97)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1,1,1);
		-ms-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}
.bounce {

	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}
@-webkit-keyframes bounce {
	0%,100%,20%,53%,80% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}

	40%,43% {
		-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		-webkit-transform: translate3d(0,-30px,0);
		transform: translate3d(0,-30px,0)
	}

	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		-webkit-transform: translate3d(0,-15px,0);
		transform: translate3d(0,-15px,0)
	}

	90% {
		-webkit-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0)
	}
}

@keyframes bounce {
	0%,100%,20%,53%,80% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}

	40%,43% {
		-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		-webkit-transform: translate3d(0,-30px,0);
		-ms-transform: translate3d(0,-30px,0);
		transform: translate3d(0,-30px,0)
	}

	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		-webkit-transform: translate3d(0,-15px,0);
		-ms-transform: translate3d(0,-15px,0);
		transform: translate3d(0,-15px,0)
	}

	90% {
		-webkit-transform: translate3d(0,-4px,0);
		-ms-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0)
	}
}

@-webkit-keyframes flash {
	0%,100%,50% {
		opacity: 1
	}

	25%,75% {
		opacity: 0
	}
}

@keyframes flash {
	0%,100%,50% {
		opacity: 1
	}

	25%,75% {
		opacity: 0
	}
}

.flash {
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}

	50% {
		-webkit-transform: scale3d(1.05,1.05,1.05);
		transform: scale3d(1.05,1.05,1.05)
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale3d(1,1,1);
		-ms-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}

	50% {
		-webkit-transform: scale3d(1.05,1.05,1.05);
		-ms-transform: scale3d(1.05,1.05,1.05);
		transform: scale3d(1.05,1.05,1.05)
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		-ms-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}
@-webkit-keyframes bounceInDown {
	0%,100%,60%,75%,90% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-3000px,0);
		transform: translate3d(0,-3000px,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0,25px,0);
		transform: translate3d(0,25px,0)
	}

	75% {
		-webkit-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0)
	}

	90% {
		-webkit-transform: translate3d(0,5px,0);
		transform: translate3d(0,5px,0)
	}

	100% {
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInDown {
	0%,100%,60%,75%,90% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-3000px,0);
		-ms-transform: translate3d(0,-3000px,0);
		transform: translate3d(0,-3000px,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0,25px,0);
		-ms-transform: translate3d(0,25px,0);
		transform: translate3d(0,25px,0)
	}

	75% {
		-webkit-transform: translate3d(0,-10px,0);
		-ms-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0)
	}

	90% {
		-webkit-transform: translate3d(0,5px,0);
		-ms-transform: translate3d(0,5px,0);
		transform: translate3d(0,5px,0)
	}

	100% {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;

	-webkit-animation-duration: .75s;
	animation-duration: .75s
}
@-webkit-keyframes bounceInRight {
	0%,100%,60%,75%,90% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px,0,0);
		transform: translate3d(3000px,0,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px,0,0);
		transform: translate3d(-25px,0,0)
	}

	75% {
		-webkit-transform: translate3d(10px,0,0);
		transform: translate3d(10px,0,0)
	}

	90% {
		-webkit-transform: translate3d(-5px,0,0);
		transform: translate3d(-5px,0,0)
	}

	100% {
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInRight {
	0%,100%,60%,75%,90% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px,0,0);
		-ms-transform: translate3d(3000px,0,0);
		transform: translate3d(3000px,0,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px,0,0);
		-ms-transform: translate3d(-25px,0,0);
		transform: translate3d(-25px,0,0)
	}

	75% {
		-webkit-transform: translate3d(10px,0,0);
		-ms-transform: translate3d(10px,0,0);
		transform: translate3d(10px,0,0)
	}

	90% {
		-webkit-transform: translate3d(-5px,0,0);
		-ms-transform: translate3d(-5px,0,0);
		transform: translate3d(-5px,0,0)
	}

	100% {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}
@-webkit-keyframes rotateIn {
	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0,0,1,-200deg);
		transform: rotate3d(0,0,1,-200deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}

@keyframes rotateIn {
	0% {
		-webkit-transform-origin: center;
		-ms-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0,0,1,-200deg);
		-ms-transform: rotate3d(0,0,1,-200deg);
		transform: rotate3d(0,0,1,-200deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: center;
		-ms-transform-origin: center;
		transform-origin: center;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1
	}
}

.rotateIn {
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn;

	-webkit-animation-duration: .75s;
	animation-duration: .75s
}

@-webkit-keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);
		transform: translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);
		-ms-transform: translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);
		transform: translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

.rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}

@-webkit-keyframes bounceInLeft {
	0%,100%,60%,75%,90% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px,0,0);
		transform: translate3d(-3000px,0,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px,0,0);
		transform: translate3d(25px,0,0)
	}

	75% {
		-webkit-transform: translate3d(-10px,0,0);
		transform: translate3d(-10px,0,0)
	}

	90% {
		-webkit-transform: translate3d(5px,0,0);
		transform: translate3d(5px,0,0)
	}

	100% {
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInLeft {
	0%,100%,60%,75%,90% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px,0,0);
		-ms-transform: translate3d(-3000px,0,0);
		transform: translate3d(-3000px,0,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px,0,0);
		-ms-transform: translate3d(25px,0,0);
		transform: translate3d(25px,0,0)
	}

	75% {
		-webkit-transform: translate3d(-10px,0,0);
		-ms-transform: translate3d(-10px,0,0);
		transform: translate3d(-10px,0,0)
	}

	90% {
		-webkit-transform: translate3d(5px,0,0);
		-ms-transform: translate3d(5px,0,0);
		transform: translate3d(5px,0,0)
	}

	100% {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}
@-webkit-keyframes bounceInDown {
	0%,100%,60%,75%,90% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-3000px,0);
		transform: translate3d(0,-3000px,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0,25px,0);
		transform: translate3d(0,25px,0)
	}

	75% {
		-webkit-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0)
	}

	90% {
		-webkit-transform: translate3d(0,5px,0);
		transform: translate3d(0,5px,0)
	}

	100% {
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInDown {
	0%,100%,60%,75%,90% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-3000px,0);
		-ms-transform: translate3d(0,-3000px,0);
		transform: translate3d(0,-3000px,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0,25px,0);
		-ms-transform: translate3d(0,25px,0);
		transform: translate3d(0,25px,0)
	}

	75% {
		-webkit-transform: translate3d(0,-10px,0);
		-ms-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0)
	}

	90% {
		-webkit-transform: translate3d(0,5px,0);
		-ms-transform: translate3d(0,5px,0);
		transform: translate3d(0,5px,0)
	}

	100% {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	50% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		-ms-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	50% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}
